.rtl{
	direction: rtl;
}

header{
	border-bottom: 3px solid #eee;
	margin-bottom: 5px;
}

header .login_box{
	border-right: 3px solid #eee;
}
body{
	margin-bottom: 140px;
}

.finish_nav{
	margin-top: 50px;
}

.nav_img{
	height: 50px;
}

.footer container{
  position: absolute;
  bottom: 0;
  width: 100%;
   /*Set the fixed height of the footer here */
  height: 150px;
  background-color: #f4f5f5;
}

.footer_links a{
	text-decoration: none;
	color: #fff;
}

.footer_links{
	background-color: #111;
}

.picture{
	height: 350px;
}

.right_aside{
	float: right;
	margin-top: 0px;
	position: relative;
}

.null_for_end{
	height: 150px;
}
