.rtl{
	direction: rtl;
}

header{
	font-size: 50px;
	border-bottom: 3px solid #eee;
	margin-bottom: 5px;
}

body{
	margin-bottom: 140px;
}

.finish_nav{
	margin-top: 50px;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
   /*Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}

.picture{
	height: 350px;
}

.right_aside{
	float: right;
	margin-top: 0px;
	position: fixed;
}

.null_for_end{
	height: 100px;
}
