.rtl{
	direction: rtl;
}

header{
	font-size: 50px;
}

.finish_nav{
	margin-top: 50px;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}