{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href={% static 'buy/css/main.css' %}>
{% endblock %}

{% block content %}



    <h2>دریافت اطلاعات خرید شما</h2>
    <div>نام خدمت یا تور :

            تور جنگل ابر تا ابشار مجن - شرکت گردشگری دالاهو
        <p>
        قیمت برای هر نفر:
        </p>
          ۲۰۰۰۰۰۰ ریال
    </div>
     <form action="/payment/">

        <p>
        تعداد افراد:
             <input type="text" id="rows"/><br />
             <button  type="button" value="ورود اطلاعات " id="rows" onclick='createTable();' >وارد کردن اطلاعات</button>
              <div id="wrapper" class="col-md-4"></div>
{#                 <script type="text/javascript">#}
{#                     function createTable()#}
{#                     {#}
{#                         var num_rows = ducument.getElementById('rows').value;#}
{#                         var num_cols = 4;#}
{#                         var theader = '<table border="1">\n';#}
{#                         var tbody =#}
{#                                 '<td>نام</td><td>نام خانوادگی</td><td>شماره ی ملی</td>';#}
{#                         for( var i=0; i<num_rows;i++)#}
{#                         {#}
{#                             tbody += '<tr>';#}
{#                             for( var j=0; j<num_cols;j++)#}
{#                             {#}
{#                                 tbody += '<td>';#}
{#                                 tbody += '<input type="text">';#}
{#                                 tbody += '</td>'#}
{#                             }#}
{#                             tbody += '</tr>\n';#}
{#                         }#}
{#                         var tfooter = '</table>';#}
{#                         ducument.getElementById('wrapper').innerHTML = theader + tbody + tfooter;#}
{#                     }#}
{#                 </script>#}

        </p>

        جمع کل مبلغ پرداختی :


         <div>
             <input type="submit" value="تایید"/>
         </div>
     </form>


{% endblock %}

{% block script %}
    <script type="text/javascript">

        function createTable()
                     {
                         alert('hi')

                       var num_rows = document.getElementById('rows').value;
                         var num_cols = 3;
                         var theader = '<table border="3" class="col-md-5">\n';
                         console.log(theader)
                         var tbody =
                                 '<td>نام</td><td>نام خانوادگی</td><td>شماره ی ملی</td>';
                         for( var i=0; i<num_rows;i++)
                         {
                             console.log(i)
                             tbody += '<tr>';
                             for( var j=0; j<num_cols;j++)
                             {
                                 tbody += '<td>';
                                 tbody += '<input type="text">';
                                 tbody += '</td>'
                             }
                             tbody += '</tr>\n';
                         }
                         var tfooter = '</table>';
                          document.getElementById('wrapper').innerHTML = theader + tbody + tfooter;
                     }

    </script>
{% endblock %}
<!----->
