{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'present_trip/css/main.css' %}">
{% endblock %}
{% block content %}
    <div class="col-md-12 , box">
        <form action="result/{{ username }}" class="form-group">{% csrf_token %}
            <input class="col-md-6 , form-control" placeholder="شهر مقصد"/>
            <input class="col-md-6 , form-control" placeholder="شهری که در آن هستید."/>

            <input type="date" class="col-md-12 , form-control" placeholder="امروز"/>

        </form>
    </div>
{% endblock %}
{% block script %}
{% endblock %}