{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'present_trip/css/main.css' %}"
          xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block content %}
    <div class="col-md-12 , box">
        <form action="result/{{ username }}" class="form-group">{% csrf_token %}
            <table class="table">
                <tr><td>
                   <div class="col-md-6">
                        <label>
                            شهری که قصد گردش در آن دارید.
                       </label>
                       <select class=" form-control">
                            <option>
                                تهران
                            </option>
                            <option>
                                سمنان
                            </option>
                            <option>
                                مشهد
                            </option>
                            <option>
                                اصفهان
                            </option>
                            <option>
                                شیراز
                            </option>
                            <option>
            همدان
                            </option>
                            <option>
            کیش
                            </option>
                        </select></div>

                    <div class="col-md-6">
                        <label>
                                                شهری که در آن هستید.
                        </label>
                        <select class="form-control , col-md-6">
                            <option>
                                تهران
                            </option>
                            <option>
                                سمنان
                            </option>
                            <option>
                                مشهد
                            </option>
                            <option>
                                اصفهان
                            </option>
                            <option>
                                شیراز
                            </option>
                            <option>
            همدان
                            </option>
                            <option>
            کیش
                            </option>
                    </select></div>
                </td></tr>

                <tr><td>
                        <label class="col-md-12">
                            تاریخ
                        </label>
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="col-md-10"><input type="date" class="col-md-8 , form-control"/></div>
                            <label class="col-md-2">
تا:
                            </label>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-10"><input type="date"  class="form-control"/></div>
                            <label class="col-md-2">
از:
                            </label>
                        </div>
                        <div class="col-md-2"></div>
                </td></tr>

                <tr><td>
                    <label class="col-md-12">
نوع
                    </label>
                    <div class="col-md-2"></div>
                    <div class="col-md-7">
                    <div class="checkbox-inline ">
                        <label>
                            <input type="checkbox" value="" onclick="tour_func(this)">
                            <div class="checkbox_text">
تور
                            </div>
                        </label>
                    </div>
                        <div class="checkbox-inline">
                            <label>
                                <input type="checkbox" value="" onclick="hotel_func(this)">
                                <div class="checkbox_text">
    هتل
                                </div>
                            </label>
                        </div>
                        <div class="checkbox-inline">
                            <label>
                                <input type="checkbox" value="" onclick="restooran_func(this)">
                                <div class="checkbox_text">
    رستوران
                                </div>
                            </label>
                        </div>
                        <div class="checkbox-inline">
                            <label>
                                <input type="checkbox" value="" onclick="airplane_func(this)">
                                <div class="checkbox_text">
    هواپیما
                                </div>
                            </label>
                        </div>
                        <div class="checkbox-inline">
                            <label>
                                <input type="checkbox" value=""  onclick="train_func(this)">
                                <div class="checkbox_text">
    قطار
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </td></tr>
{# =============================== more information ================================== #}
                <tr class="hidden" id="tour_info">
{#                    <h4 class="col-md-12">#}
{#مشخصات تور#}
{#                    </h4>#}
{#                    <div>#}
{#                    <div class="choices, col-md-9">#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#    مارکوپولو#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#    دالاهو#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="checkbox-inline , col-md-3">#}
{#                        <input type="checkbox" value="" onclick="selectAll(this)">#}
{#                        <div class="checkbox_text">#}
{#                            شرکت گردشگری:#}
{#                        </div>#}
{#                    </div>#}
{#                    </div>#}
{##}
{#                    <div>#}
{#                    <div class="choices, col-md-9">#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#    طبیعت گردی#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#ایران گردی#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#جهان گردی#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#زیارتی#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="checkbox-inline , col-md-3">#}
{#                        <input type="checkbox" value="" name="tour_kind" onclick="selectAll(this)">#}
{#                        <div class="checkbox_text">#}
{#نوع:#}
{#                        </div>#}
{#                    </div>#}
{#                    </div>#}
                </tr>

                <tr class="hidden" id="hotel_info">
{#                    <h4 class="col-md-12">#}
{#مشخصات هتل#}
{#                    </h4>#}
{#                    <div>#}
{#                    <div class="choices, col-md-9">#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#۵ ستاره#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#۴ ستاره#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#۳ ستاره#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#۲ ستاره#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#۱ ستاره#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="checkbox-inline , col-md-3">#}
{#                        <input type="checkbox" value="" onclick="selectAll(this)">#}
{#                        <div class="checkbox_text">#}
{#درجه:#}
{#                        </div>#}
{#                    </div>#}
{#                    </div>#}
                </tr>
{##}
                <tr class="hidden" id="restooran_info">
{#                    <h4 class="col-md-12">#}
{#مشخصات رستوران#}
{#                    </h4>#}
{#                    <div>#}
{#                    <div class="choices, col-md-9">#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#    صبحانه#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#    ناهار#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#عصرانه#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#شام#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="checkbox-inline , col-md-3">#}
{#                        <input type="checkbox" value="" onclick="selectAll(this)">#}
{#                        <div class="checkbox_text">#}
{#وعده:#}
{#                        </div>#}
{#                    </div>#}
{#                    </div>#}
{##}
{#                    <div>#}
{#                    <div class="choices, col-md-9">#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#فست فود#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#    ایرانی#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#ایتالیایی#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#فرانسوی#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#چینی#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="checkbox-inline , col-md-3">#}
{#                        <input type="checkbox" value="" onclick="selectAll(this)">#}
{#                        <div class="checkbox_text">#}
{#نوع:#}
{#                        </div>#}
{#                    </div>#}
{#                    </div>#}
                </tr>

                <tr class="hidden" id="airplane_info">
{#                    <h4 class="col-md-12">#}
{#مشخصات هواپیما#}
{#                    </h4>#}
{#                    <div>#}
{#                    <div class="choices, col-md-9">#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#هما#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#ایران ایر#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#کیش ایر#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#آسمان#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#ماهان#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="checkbox-inline , col-md-3">#}
{#                        <input type="checkbox" value="" onclick="selectAll(this)">#}
{#                        <div class="checkbox_text">#}
{#شرکت هواپیمایی:#}
{#                        </div>#}
{#                    </div>#}
{#                    </div>#}
                </tr>

                <tr class="hidden" id="train_info">
{#                    <h4 class="col-md-12">#}
{#مشخصات قطار#}
{#                    </h4>#}
{#                    <div>#}
{#                    <div class="choices, col-md-9">#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#؟؟#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#؟؟#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="checkbox-inline">#}
{#                            <input type="checkbox" value="">#}
{#                            <div class="checkbox_text">#}
{#سیمرغ#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="checkbox-inline , col-md-3">#}
{#                        <input type="checkbox" value="" onclick="selectAll(this)">#}
{#                        <div class="checkbox_text">#}
{#درجه:#}
{#                        </div>#}
{#                    </div>#}
{#                    </div>#}
                </tr>
            </table>
        <div class="col-md-4"></div>
        <a type="button" href="/search/result/{{ username }}" class="btn btn-success , col-md-4">
        جستجو
        </a>
        <div class="col-md-4"></div>
        </form>
    </div>
{% endblock %}


{% block script %}
    <script>
        var tour_info = document.querySelector('#tour_info');
        var restooran_info = document.querySelector('#restooran_info');
        var hotel_info = document.querySelector('#hotel_info');
        var airplane_info = document.querySelector('#airplane_info');
        var train_info = document.querySelector('#train_info');

        function tour_func(a){
            if (a.checked){
                tour_info.className = '';
                $(tour_info).append("<td>" +
                         '<h4 class="col-md-12">'+
'مشخصات تور'+
                    '</h4>'+
                    '<div>'+
                    '<div class="choices, col-md-9">'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
    'مارکوپولو'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
    'دالاهو'+
                            '</div>'+
                        '</div>'+
                    '</div>'+
                    '<div class="checkbox-inline , col-md-3">'+
                        '<input type="checkbox" value="" onclick="selectAll(this)">'+
                        '<div class="checkbox_text">'+
                            'شرکت گردشگری:'+
                        '</div>'+
                    '</div>'+
                    '</div>'+
                    '<div>'+
                    '<div class="choices, col-md-9">'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
    'طبیعت گردی'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'ایران گردی'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'جهان گردی'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'زیارتی'+
                            '</div>'+
                        '</div>'+
                    '</div>'+
                    '<div class="checkbox-inline , col-md-3">'+
                        '<input type="checkbox" value="" name="tour_kind" onclick="selectAll(this)">'+
                        '<div class="checkbox_text">'+
'نوع:'+
                        '</div>'+
                    '</div>'+
                    '</div>'+
                        "</td>");
            }else{
                tour_info.innerHTML = '';
                tour_info.className = 'hidden';
            }
        }

        function restooran_func(a){
            if (a.checked){
                restooran_info.className = '';
                $(restooran_info).append('<td>'+
                    '<h4 class="col-md-12">'+
'مشخصات رستوران'+
                    '</h4>'+
                    '<div>'+
                    '<div class="choices, col-md-9">'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
    'صبحانه'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
    'ناهار'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'عصرانه'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'شام'+
                            '</div>'+
                        '</div>'+
                    '</div>'+
                    '<div class="checkbox-inline , col-md-3">'+
                        '<input type="checkbox" value="" onclick="selectAll(this)">'+
                        '<div class="checkbox_text">'+
'وعده:'+
                        '</div>'+
                    '</div>'+
                    '</div>'+
                    '<div>'+
                    '<div class="choices, col-md-9">'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'فست فود'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
    'ایرانی'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'ایتالیایی'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'فرانسوی'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'چینی'+
                            '</div>'+
                        '</div>'+
                    '</div>'+
                    '<div class="checkbox-inline , col-md-3">'+
                        '<input type="checkbox" value="" onclick="selectAll(this)">'+
                        '<div class="checkbox_text">'+
'نوع:'+
                        '</div>'+
                    '</div>'+
                    '</div>'+
                        '</td>');
            }else{
                restooran_info.className = 'hidden';
                restooran_info.innerHTML = '';
            }
        }

        function hotel_func(a){
            if (a.checked){
                hotel_info.className = '';
                $(hotel_info).append('<td>' +
                        '<h4 class="col-md-12">'+
'مشخصات هتل'+
                    '</h4>'+
                    '<div>'+
                    '<div class="choices, col-md-9">'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'۵ ستاره'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'۴ ستاره'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'۳ ستاره'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'۲ ستاره'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'۱ ستاره'+
                            '</div>'+
                        '</div>'+
                    '</div>'+
                    '<div class="checkbox-inline , col-md-3">'+
                        '<input type="checkbox" value="" onclick="selectAll(this)">'+
                        '<div class="checkbox_text">'+
'درجه:'+
                        '</div>'+
                    '</div>'+
                    '</div>'+
                '</td>');
            }else{
                hotel_info.className = 'hidden';
                hotel_info.innerHTML = '';
            }
        }

        function airplane_func(a){
            if (a.checked){
                airplane_info.className = '';
                $(airplane_info).append('<td>' +
                        '<h4 class="col-md-12">'+
'مشخصات هواپیما'+
                    '</h4>'+
                    '<div>'+
                    '<div class="choices, col-md-9">'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'هما'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'ایران ایر'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'کیش ایر'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'آسمان'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'ماهان'+
                            '</div>'+
                        '</div>'+
                    '</div>'+
                    '<div class="checkbox-inline , col-md-3">'+
                        '<input type="checkbox" value="" onclick="selectAll(this)">'+
                        '<div class="checkbox_text">'+
'شرکت هواپیمایی:'+
                        '</div>'+
                    '</div>'+
                    '</div>'+
                        '</td>')
            }else{
                airplane_info.className = 'hidden';
                airplane_info.innerHTML = '';
            }
        }

        function train_func(a){
            if (a.checked){
                train_info.className = '';
                $(train_info).append('<td>' +
                        '<h4 class="col-md-12">'+
'مشخصات قطار'+
                    '</h4>'+
                    '<div>'+
                    '<div class="choices, col-md-9">'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'؟؟'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'؟؟'+
                            '</div>'+
                        '</div>'+
                        '<div class="checkbox-inline">'+
                            '<input type="checkbox" value="">'+
                            '<div class="checkbox_text">'+
'سیمرغ'+
                            '</div>'+
                        '</div>'+
                    '</div>'+
                    '<div class="checkbox-inline , col-md-3">'+
                        '<input type="checkbox" value="" onclick="selectAll(this)">'+
                        '<div class="checkbox_text">'+
'درجه:'+
                        '</div>'+
                    '</div>'+
                    '</div>'+
                        '</td>')
            }else{
                train_info.className = 'hidden';
                train_info.innerHTML = '';
            }
        }

        function selectAll(a){
            var parent_div = a.parentNode.parentNode;
            var div_choices = parent_div.children[0];
            var div_checkbox_inline_s = div_choices.children;

            if(a.checked){
                for ( var i = 0 ; i < div_checkbox_inline_s.length ; i ++){
                    div_checkbox_inline_s[i].children[0].checked = true;
                }
            }else{
                for ( var i = 0 ; i < div_checkbox_inline_s.length ; i ++){
                    div_checkbox_inline_s[i].children[0].checked = false;
                }
            }



        }



    </script>
{% endblock %}