<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>سپاس ایران</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li><a href="??">خروج</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="??">گردش ها</a></li>
                <li><a href="??">حساب کاربری</a></li>
                <li><a href="??">صفحه اصلی</a></li>
              </ul>
          </div>
      </div>
    </nav>

    <div class="finish_nav , rtl">
    	<header class='container'>
		سپاس ایران
	</header>
	<main>
		:)
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohohoohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohohoohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohohoohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh
		oohohoh


	</main>
	<footer class = 'footer'>
		<div class="container">
		<p class= 'text-muted'> تمام حقوق این سایت متعلق به شرکت تحلیلگران می باشد.</p>
		</div>
	</footer>
    </div>
</body>
</html>