<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>سپاس ایران</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li><a href="??">خروج</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="??">گردش ها</a></li>
                <li><a href="??">حساب کاربری</a></li>
                <li><a href="??">صفحه اصلی</a></li>
              </ul>
          </div>
      </div>
    </nav>

    <div class="finish_nav , rtl , col-md-12">
    	<header class='blog-header , container'>
    			<form class="col-md-3">
    				<h3 class="col-md-12">ورود</h3>
  					<div class="form-group , col-md-12">
      					<input class="form-control , col-md-12" id="inputEmail3" placeholder="نام کاربری">
  					</div>
  					<div class="form-group , col-md-12">
      					<input class="form-control , col-md-12" id="inputEmail3" placeholder="رمز عبور">
  					</div>
 <!--  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">رمز عبور</label>
      <input type="password" class="form-control" id="inputPassword3" placeholder="رمز عبور">
  </div>
  <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div> -->
<!--   </div>
 --></form>
    		<h1 class="blog-title , col-md-9">
				سپاس ایران
			</h1>
			<p class="lead blog-description , col-md-9">
			سامانه خرید الکترونیکی چی چیه چی چی :)
			</p>
		</header>

		<main class='col-md-9 , container'>
			<div class="top_part">
				<div class="col-md-1"></div>
				<div class="col-md-10">
						    <!-- Carousel
				    ================================================== -->
				    <div id="myCarousel" class="carousel slide" data-ride="carousel">
				      <!-- Indicators -->
				      <ol class="carousel-indicators">
				        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				        <li data-target="#myCarousel" data-slide-to="1"></li>
				        <li data-target="#myCarousel" data-slide-to="2"></li>
				      </ol>

				      <div class="carousel-inner" role="listbox">
				        <div class="item active , picture">
				          <img class="first-slide" src="img/ax2.jpg" alt="First slide">
				          <div class="container">
				            <div class="carousel-caption">
				            </div>
				          </div>
				        </div>
				        <div class="item , picture">
				          <img class="second-slide" src="img/ax3.jpg" alt="Second slide">
				          <div class="container">
				            <div class="carousel-caption">
				            </div>
				          </div>
				        </div>
				        <div class="item , picture">
				          <img class="third-slide" src="img/ax4.jpg" alt="Third slide">
				          <div class="container">
				            <div class="carousel-caption">
				            </div>
				          </div>
				        </div>
				      </div>
				      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				        <span class="sr-only">Previous</span>
				      </a>
				      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				        <span class="sr-only">Next</span>
				      </a>
				    </div><!-- /.carousel -->
				</div>
				<div class="col-md-1"></div>
			</div>
	    <div class="container , col-md-12">
- همراه با مرکزتورهای ایران:

- توریکروزه و نیم دریاچه سقالکسار و قلعه رودخان

- گشتها: بازدید از دریاچه زیبا و بسیار تمیز سقالکساروجنگلهای فوق العاده زیبای اطراف آن

- بازدید از قلعه هزارو یک پله رودخان

- مراکز خرید فومن و رودبار

- همراهی تیم سرپرست

- تامین کردن بیمه مسافرتی ایران

- عکاسی از صحنه های زیبای دریاچه و جنگلهای اطرافش و قلعه رودخان که آدمی را تحت تاثیر خود قرار می دهد

- پذیرایی 1 وعده صبحانه شامل منوی: کره - عسل - پنیر- نیمرو- املت

- وسیله مورد نیاز:لباس مناسب –کفش مناسب-لوزام شخصی-عینک دودی-کلاه وزیر انداز-لباس مناسب بنا به فصلی که سفر می کنین.....

- ناهار با مسافر می باشد

- کلیه ورودیها با مسافر می باشد
- همراه با مرکزتورهای ایران:

- توریکروزه و نیم دریاچه سقالکسار و قلعه رودخان

- گشتها: بازدید از دریاچه زیبا و بسیار تمیز سقالکساروجنگلهای فوق العاده زیبای اطراف آن

- بازدید از قلعه هزارو یک پله رودخان

- مراکز خرید فومن و رودبار

- همراهی تیم سرپرست

- تامین کردن بیمه مسافرتی ایران

- عکاسی از صحنه های زیبای دریاچه و جنگلهای اطرافش و قلعه رودخان که آدمی را تحت تاثیر خود قرار می دهد

- پذیرایی 1 وعده صبحانه شامل منوی: کره - عسل - پنیر- نیمرو- املت

- وسیله مورد نیاز:لباس مناسب –کفش مناسب-لوزام شخصی-عینک دودی-کلاه وزیر انداز-لباس مناسب بنا به فصلی که سفر می کنین.....

- ناهار با مسافر می باشد

- کلیه ورودیها با مسافر می باشد	- همراه با مرکزتورهای ایران:

- توریکروزه و نیم دریاچه سقالکسار و قلعه رودخان

- گشتها: بازدید از دریاچه زیبا و بسیار تمیز سقالکساروجنگلهای فوق العاده زیبای اطراف آن

- بازدید از قلعه هزارو یک پله رودخان

- مراکز خرید فومن و رودبار

- همراهی تیم سرپرست

- تامین کردن بیمه مسافرتی ایران

- عکاسی از صحنه های زیبای دریاچه و جنگلهای اطرافش و قلعه رودخان که آدمی را تحت تاثیر خود قرار می دهد

- پذیرایی 1 وعده صبحانه شامل منوی: کره - عسل - پنیر- نیمرو- املت

- وسیله مورد نیاز:لباس مناسب –کفش مناسب-لوزام شخصی-عینک دودی-کلاه وزیر انداز-لباس مناسب بنا به فصلی که سفر می کنین.....

- ناهار با مسافر می باشد

- کلیه ورودیها با مسافر می باشد	
	    </div>

		</main>

		<aside class='right_aside , col-md-3 sidebar'>
<!-- 			<div class="col-md-"></div>
 -->			<div class="list-group , col-md-10">
				<a href="#" class="list-group-item">
				<span class='glyphicon glyphicon-home ,col-md-1' aria-hidden='true'></span>
				<span class='col-md-11'>خانه</span>
				</a>
				<a href="#" class="list-group-item">
				<span class='glyphicon glyphicon-user ,col-md-1' aria-hidden='true'></span>
				<span class='col-md-11'>حساب من</span>
				</a>
				<a href="#" class="list-group-item">
				<span class='glyphicon glyphicon-globe ,col-md-1' aria-hidden='true'></span>
				<span class='col-md-11'>گردش ها</span>
				</a>
				<a href="#" class="list-group-item">
				<span class='glyphicon glyphicon-tent ,col-md-1' aria-hidden='true'></span>
				<span class='col-md-11'>تعریف تور</span>
				</a>
				<a href="#" class="list-group-item">
				<span class='glyphicon glyphicon-send ,col-md-1' aria-hidden='true'></span>
				<span class='col-md-11'>تعریف خدمت</span>
				</a>
				<a href="#" class="list-group-item">
				<span class='glyphicon glyphicon-piggy-bank ,col-md-1' aria-hidden='true'></span>
				<span class='col-md-11'>تسویه</span>
				</a>
				<a href="#" class="list-group-item">
				<span class='glyphicon glyphicon-apple ,col-md-1' aria-hidden='true'></span>
				<span class='col-md-11'>درباره ما</span>
				</a>
			</div>
			<div class="col-md-2"></div>

		</aside>

		<div class="null_for_end , col-md-12"></div>
		<footer class = 'footer'>
			<div class="container">
			<p class= 'text-muted'> تمام حقوق این سایت متعلق به شرکت تحلیلگران می باشد.</p>
			</div>
		</footer>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


</body>
</html>