{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<div class="top_part">
				<div class="col-md-1"></div>
				<div class="col-md-10">
						    <!-- Carousel
				    ================================================== -->
				    <div id="myCarousel" class="carousel slide" data-ride="carousel">
				      <!-- Indicators -->
				      <ol class="carousel-indicators">
				        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				        <li data-target="#myCarousel" data-slide-to="1"></li>
				        <li data-target="#myCarousel" data-slide-to="2"></li>
				      </ol>

				      <div class="carousel-inner" role="listbox">
				        <div class="item active , picture">
				          <img class="first-slide" src="{% static 'define_and_validate_trip/img/ax2.jpg' %}" alt="First slide">
				          <div class="container">
				            <div class="carousel-caption">
				            </div>
				          </div>
				        </div>
				        <div class="item , picture">
				          <img class="second-slide" src="{% static 'define_and_validate_trip/img/ax3.jpg' %}" alt="Second slide">
				          <div class="container">
				            <div class="carousel-caption">
				            </div>
				          </div>
				        </div>
				        <div class="item , picture">
				          <img class="third-slide" src="{% static 'define_and_validate_trip/img/ax4.jpg' %}" alt="Third slide">
				          <div class="container">
				            <div class="carousel-caption">
				            </div>
				          </div>
				        </div>
				      </div>
				      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				        <span class="sr-only">Previous</span>
				      </a>
				      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				        <span class="sr-only">Next</span>
				      </a>
				    </div><!-- /.carousel -->
				</div>
				<div class="col-md-1"></div>
			</div>
	    <div class="container , col-md-12">
- همراه با مرکزتورهای ایران:

- توریکروزه و نیم دریاچه سقالکسار و قلعه رودخان

- گشتها: بازدید از دریاچه زیبا و بسیار تمیز سقالکساروجنگلهای فوق العاده زیبای اطراف آن

- بازدید از قلعه هزارو یک پله رودخان

- مراکز خرید فومن و رودبار

- همراهی تیم سرپرست

- تامین کردن بیمه مسافرتی ایران

- عکاسی از صحنه های زیبای دریاچه و جنگلهای اطرافش و قلعه رودخان که آدمی را تحت تاثیر خود قرار می دهد

- پذیرایی 1 وعده صبحانه شامل منوی: کره - عسل - پنیر- نیمرو- املت

- وسیله مورد نیاز:لباس مناسب –کفش مناسب-لوزام شخصی-عینک دودی-کلاه وزیر انداز-لباس مناسب بنا به فصلی که سفر می کنین.....

- ناهار با مسافر می باشد

- کلیه ورودیها با مسافر می باشد
- همراه با مرکزتورهای ایران:

- توریکروزه و نیم دریاچه سقالکسار و قلعه رودخان

- گشتها: بازدید از دریاچه زیبا و بسیار تمیز سقالکساروجنگلهای فوق العاده زیبای اطراف آن

- بازدید از قلعه هزارو یک پله رودخان

- مراکز خرید فومن و رودبار

- همراهی تیم سرپرست

- تامین کردن بیمه مسافرتی ایران

- عکاسی از صحنه های زیبای دریاچه و جنگلهای اطرافش و قلعه رودخان که آدمی را تحت تاثیر خود قرار می دهد

- پذیرایی 1 وعده صبحانه شامل منوی: کره - عسل - پنیر- نیمرو- املت

- وسیله مورد نیاز:لباس مناسب –کفش مناسب-لوزام شخصی-عینک دودی-کلاه وزیر انداز-لباس مناسب بنا به فصلی که سفر می کنین.....

- ناهار با مسافر می باشد

- کلیه ورودیها با مسافر می باشد	- همراه با مرکزتورهای ایران:

- توریکروزه و نیم دریاچه سقالکسار و قلعه رودخان

- گشتها: بازدید از دریاچه زیبا و بسیار تمیز سقالکساروجنگلهای فوق العاده زیبای اطراف آن

- بازدید از قلعه هزارو یک پله رودخان

- مراکز خرید فومن و رودبار

- همراهی تیم سرپرست

- تامین کردن بیمه مسافرتی ایران

- عکاسی از صحنه های زیبای دریاچه و جنگلهای اطرافش و قلعه رودخان که آدمی را تحت تاثیر خود قرار می دهد

- پذیرایی 1 وعده صبحانه شامل منوی: کره - عسل - پنیر- نیمرو- املت

- وسیله مورد نیاز:لباس مناسب –کفش مناسب-لوزام شخصی-عینک دودی-کلاه وزیر انداز-لباس مناسب بنا به فصلی که سفر می کنین.....

- ناهار با مسافر می باشد

- کلیه ورودیها با مسافر می باشد
	    </div>
{% endblock %}