{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'present_trip/css/main.css' %}">
{% endblock %}
{% block content %}
	<div id="top_part">
				<div class="col-md-1"></div>
				<div class="col-md-10">
						    <!-- Carousel
				    ================================================== -->
				    <div id="myCarousel" class="carousel slide" data-ride="carousel">
				      <!-- Indicators -->
				      <ol class="carousel-indicators">
				        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				        <li data-target="#myCarousel" data-slide-to="1"></li>
				        <li data-target="#myCarousel" data-slide-to="2"></li>
				      </ol>

				      <div class="carousel-inner" role="listbox">
				        <div class="item active , picture">
				          <img class="first-slide" src="{% static 'define_and_validate_trip/img/ax1.jpg' %}" alt="First slide">
				          <div class="container">
				            <div class="carousel-caption">
				            </div>
				          </div>
				        </div>
				        <div class="item , picture">
				          <img class="second-slide" src="{% static 'define_and_validate_trip/img/ax2.jpg' %}" alt="Second slide">
				          <div class="container">
				            <div class="carousel-caption">
				            </div>
				          </div>
				        </div>
				        <div class="item , picture">
				          <img class="third-slide" src="{% static 'define_and_validate_trip/img/ax3.jpg' %}" alt="Third slide">
				          <div class="container">
				            <div class="carousel-caption">
				            </div>
				          </div>
				        </div>
				      </div>
				      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				        <span class="sr-only">Previous</span>
				      </a>
				      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				        <span class="sr-only">Next</span>
				      </a>
				    </div><!-- /.carousel -->
				</div>
				<div class="col-md-1"></div>
	</div>

    {% block down_part %}{% endblock %}



{% endblock %}


{% block script %}
    <script>
        function change_pic_1(a){
            var ax = document.querySelector('#promotion_pic');
            ax.src = String(a.name);
        }

        function change_pic_2(a){
            var ax = document.querySelector('#off_pic');
            ax.src = String(a.name)
        }
    </script>
{% endblock %}