{% extends "manager_dashboard.html" %}
{% load staticfiles %}
{% block content_dashboard %}

<div class="col-md-9">
         <table>
                <tr>
                    <td><strong>
                        تورهای در حال اجرا
                    </strong></td>
                </tr>

                <tr>

                    <td>
                <span>

                    <img class="tour_image_large" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
                </span>
                        </td><td>
                    نام تور : تور آستارا- شرکت خدمات مسافرتی آسمان
                    <br>
                    مسئول تور : آقای مسعود اکبری
                    <br>
                    تعداد ثبت نام کنندگان : 45 نفر
                    <br>
                    ظرفیت اولیه : 50 نفر
                    <br>
                    <a href="/show/tour/admin/status" >

                    لینک مستقیم

                    </a> </td>

                </tr>

                <tr>

                    <td>
                <span>

                    <img class="tour_image_large" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
                </span>
                        </td><td>
                    نام تور : تور آستارا- شرکت خدمات مسافرتی آسمان
                    <br>
                    مسئول تور : آقای مسعود اکبری
                    <br>
                    تعداد ثبت نام کنندگان : 45 نفر
                    <br>
                    ظرفیت اولیه : 50 نفر
                    <br>
                    <a href="/show/tour/admin/status">

                    لینک مستقیم

                    </a> </td>

                </tr>


                <tr>

                    <td>
                <span>

                    <img class="tour_image_large" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
                </span>
                        </td><td>
                    نام تور : تور آستارا- شرکت خدمات مسافرتی آسمان
                    <br>
                    مسئول تور : آقای مسعود اکبری
                    <br>
                    تعداد ثبت نام کنندگان : 45 نفر
                    <br>
                    ظرفیت اولیه : 50 نفر
                    <br>
                    <a href="/show/tour/admin/status" >

                    لینک مستقیم

                    </a> </td>

                </tr>


                <tr>

                    <td>
                <span>

                    <img class="tour_image_large" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
                </span>
                        </td><td>
                    نام تور : تور آستارا- شرکت خدمات مسافرتی آسمان
                    <br>
                    مسئول تور : آقای مسعود اکبری
                    <br>
                    تعداد ثبت نام کنندگان : 45 نفر
                    <br>
                    ظرفیت اولیه : 50 نفر
                    <br>
                    <a href="/show/tour/admin/status" >

                    لینک مستقیم

                    </a> </td>

                </tr>

            </table>


        </div>

{% endblock content_dashboard %}