{% extends "manager_dashboard.html" %}
{% load staticfiles %}
{% block content_dashboard %}

<div class="col-md-9">
<h2>صورت تراکنش ها</h2>
<table class="payment_table">
    <tr class="payment_table">
        <td> شماره تراکنش</td>
        <td>از</td>
        <td>به</td>
        <td>مقدار</td>
        <td>تاریخ</td>
    </tr>
    <tr class="payment_table">
        <td>234</td>
         <td><a>شرکت مسافرتی آسمان</a></td>
         <td><a>سپاس ایران</a></td>
         <td>20 میلیون تومان</td>
         <td>25 خرداد 1394</td>
    </tr>
           <tr class="payment_table">
        <td>234</td>
         <td><a>شرکت مسافرتی آسمان</a></td>
         <td><a>سپاس ایران</a></td>
         <td>20 میلیون تومان</td>
         <td>25 خرداد 1394</td>
    </tr>
        <tr class="payment_table">
        <td>234</td>
         <td><a>شرکت مسافرتی آسمان</a></td>
         <td><a>سپاس ایران</a></td>
         <td>20 میلیون تومان</td>
         <td>25 خرداد 1394</td>
    </tr>
        <tr class="payment_table">
        <td>234</td>
         <td><a>شرکت مسافرتی آسمان</a></td>
         <td><a>سپاس ایران</a></td>
         <td>20 میلیون تومان</td>
         <td>25 خرداد 1394</td>
    </tr>
        <tr class="payment_table">
        <td>234</td>
         <td><a>شرکت مسافرتی آسمان</a></td>
         <td><a>سپاس ایران</a></td>
         <td>20 میلیون تومان</td>
         <td>25 خرداد 1394</td>
    </tr>
        <tr class="payment_table">
        <td>234</td>
         <td><a>شرکت مسافرتی آسمان</a></td>
         <td><a>سپاس ایران</a></td>
         <td>20 میلیون تومان</td>
         <td>25 خرداد 1394</td>
    </tr>
        <tr class="payment_table">
        <td>234</td>
         <td><a>شرکت مسافرتی آسمان</a></td>
         <td><a>سپاس ایران</a></td>
         <td>20 میلیون تومان</td>
         <td>25 خرداد 1394</td>
    </tr>
        <tr class="payment_table">
        <td>234</td>
         <td><a>شرکت مسافرتی آسمان</a></td>
         <td><a>سپاس ایران</a></td>
         <td>20 میلیون تومان</td>
         <td>25 خرداد 1394</td>
    </tr>
</table>


</div>

{% endblock content_dashboard %}