{% extends "manager_dashboard.html" %}
{% load staticfiles %}
{% block content_dashboard %}

<div class="col-md-9">

<div class="col-md-4">
         <table>
                <tr>
                    <td><strong>
                        برنزی
                    </strong></td>
                </tr>

                <tr>

                    <td>
                <span>

                    <img class="tour_image_med" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
                </span>
                        </td><td>
                    نام تور : تور آستارا- شرکت خدمات مسافرتی آسمان
                    <br>
                    مسئول تور : آقای مسعود اکبری
                    <br>
                    <a >

                    لینک مستقیم

                    </a> </td>

                </tr>

                <tr>

                    <td>
                <span>

                    <img class="tour_image_med" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
                </span>
                        </td><td>
                    نام تور : تور آستارا- شرکت خدمات مسافرتی آسمان
                    <br>
                    مسئول تور : آقای مسعود اکبری
                     <br>
                    <a >

                    لینک مستقیم

                    </a> </td>

                </tr>


                <tr>

                    <td>
                <span>

                    <img class="tour_image_med" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
                </span>
                        </td><td>
                    نام تور : تور آستارا- شرکت خدمات مسافرتی آسمان
                    <br>
                    مسئول تور : آقای مسعود اکبری
                    <br> <a >

                    لینک مستقیم

                    </a> </td>

                </tr>


                <tr>

                    <td>
                <span>

                    <img class="tour_image_med" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
                </span>
                        </td><td>
                    نام تور : تور آستارا- شرکت خدمات مسافرتی آسمان
                    <br>
                    مسئول تور : آقای مسعود اکبری
                     <br>
                    <a >

                    لینک مستقیم

                    </a> </td>

                </tr>

            </table>

</div>
<div class="col-md-4">
         <table>
                <tr>
                    <td><strong>
                    نقره ای</strong></td>
                </tr>

                <tr>

                    <td>
                <span>

                    <img class="tour_image_med" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
                </span>
                        </td><td>
                    نام تور : تور آستارا- شرکت خدمات مسافرتی آسمان
                    <br>
                    مسئول تور : آقای مسعود اکبری
                     <br>
                    <a >

                    لینک مستقیم

                    </a> </td>

                </tr>

                <tr>

                    <td>
                <span>

                    <img class="tour_image_med" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
                </span>
                        </td><td>
                    نام تور : تور آستارا- شرکت خدمات مسافرتی آسمان
                    <br>
                    مسئول تور : آقای مسعود اکبری
                    <br>
                    <a >

                    لینک مستقیم

                    </a> </td>

                </tr>


                <tr>

                    <td>
                <span>

                    <img class="tour_image_med" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
                </span>
                        </td><td>
                    نام تور : تور آستارا- شرکت خدمات مسافرتی آسمان
                    <br>
                    مسئول تور : آقای مسعود اکبری
                    <br>
                    <a >

                    لینک مستقیم

                    </a> </td>

                </tr>


                <tr>

                    <td>
                <span>

                    <img class="tour_image_med" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
                </span>
                        </td><td>
                    نام تور : تور آستارا- شرکت خدمات مسافرتی آسمان
                    <br>
                    مسئول تور : آقای مسعود اکبری
                    <br>
                    <a >

                    لینک مستقیم

                    </a> </td>

                </tr>

            </table>

</div>
<div class="col-md-4">
         <table>
                <tr>
                    <td><strong>
                    طلایی</strong></td>
                </tr>

                <tr>

                    <td>
                <span>

                    <img class="tour_image_med" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
                </span>
                        </td><td>
                    نام تور : تور آستارا- شرکت خدمات مسافرتی آسمان
                    <br>
                    مسئول تور : آقای مسعود اکبری
                    <br>
                    <a >

                    لینک مستقیم

                    </a> </td>

                </tr>

                <tr>

                    <td>
                <span>

                    <img class="tour_image_med" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
                </span>
                        </td><td>
                    نام تور : تور آستارا- شرکت خدمات مسافرتی آسمان
                    <br>
                    مسئول تور : آقای مسعود اکبری
                    <br>
                    <a >

                    لینک مستقیم

                    </a> </td>

                </tr>


                <tr>

                    <td>
                <span>

                    <img class="tour_image_med" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
                </span>
                        </td><td>
                    نام تور : تور آستارا- شرکت خدمات مسافرتی آسمان
                    <br>
                    مسئول تور : آقای مسعود اکبری
                    <br>
                    <a >

                    لینک مستقیم

                    </a> </td>

                </tr>


                <tr>

                    <td>
                <span>

                    <img class="tour_image_med" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
                </span>
                        </td><td>
                    نام تور : تور آستارا- شرکت خدمات مسافرتی آسمان
                    <br>
                    مسئول تور : آقای مسعود اکبری
                    <br>
                    <a >

                    لینک مستقیم

                    </a> </td>

                </tr>

            </table>

</div>

        </div>

{% endblock content_dashboard %}