{% extends "manager_dashboard.html" %}
{% load staticfiles %}
{% block content_dashboard %}

<div class="col-md-9">
 <h2> اطلاعات گردشگران</h2>
<div class="input-group" style="width: 400px ; margin: 30px">
  <span class="input-group-addon" id="basic-addon1" >جستجو</span>
  <input type="text" class="form-control"  placeholder="نام " aria-describedby="basic-addon1">
</div>

<div class="col-md-6">
         <table>

                <tr>

                    <td>
                <span>

                    <img class="tour_image_med" src="{% static 'manager_dashboard/image/girl.jpg' %}">
                </span>
                        </td><td>
                    نام : سمیرا حسینی<br>
                    تاریخ عضویت : 26 آبان 93<br>
                    نام پدر : علیرضا<br>
                    تعداد تورهای خریداری شده : 56
                    <br>
                    <a >
اطلاعات بیشتر</a> </td>

                </tr>

            </table>

</div>
<div class="col-md-6">
         <table>

                <tr>

                    <td>
                <span>

                    <img class="tour_image_med" src="{% static 'manager_dashboard/image/girl.jpg' %}">
                </span>
                        </td><td>
                    نام : سمیرا حسینی<br>
                    تاریخ عضویت : 26 آبان 93<br>
                    نام پدر : علیرضا<br>
                    تعداد تورهای خریداری شده : 56
                    <br>
                    <a >
اطلاعات بیشتر</a> </td>

                </tr>

            </table>

</div>



        </div>

{% endblock content_dashboard %}