{% extends "manager_dashboard.html" %}
{% load staticfiles %}
{% block content_dashboard %}

    <div class="col-md-9">
<div class="col-md-6">
   <table>
            <tr>
                <td>
                    <div>
                <span>
                    <img class="gardeshgar_img" src="{% static 'manager_dashboard/image/girl.jpg' %}">
                </span>
                <span class="gardeshgar_name_box">
                    <a>سمانه ابراهیمی</a>: </span>

                        <div class="col-md-12 gardeshgar_comment_box">
                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید


                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید



                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید


                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید

                       <br>
                        تاریخ : 25 مهر 1394
                        <br><a>
                        تور کیش - شرکت مسافربری سما</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                <span>
                    <img class="gardeshgar_img" src="{% static 'manager_dashboard/image/girl.jpg' %}">
                </span>
                <span class="gardeshgar_name_box">
                    <a>سمانه ابراهیمی</a>: </span>

                        <div class="col-md-12 gardeshgar_comment_box">
                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید


                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید

                      <br>
                        تاریخ : 25 مهر 1394
                        <br><a>
                        تور کیش - شرکت مسافربری سما</a>
                        </div>
                    </div>
                </td>
            </tr>
               <tr>
                <td>
                    <div>
                <span>
                    <img class="gardeshgar_img" src="{% static 'manager_dashboard/image/girl.jpg' %}">
                </span>
                <span class="gardeshgar_name_box">
                    <a>سمانه ابراهیمی</a>: </span>

                        <div class="col-md-12 gardeshgar_comment_box">
                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید

                      <br>
                        تاریخ : 25 مهر 1394
                        <br><a>
                        تور کیش - شرکت مسافربری سما</a>
                        </div>
                    </div>
                </td>
            </tr>
               <tr>
                <td>
                    <div>
                <span>
                    <img class="gardeshgar_img" src="{% static 'manager_dashboard/image/girl.jpg' %}">
                </span>
                <span class="gardeshgar_name_box">
                    <a>سمانه ابراهیمی</a>: </span>

                        <div class="col-md-12 gardeshgar_comment_box">
                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید


                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید


                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید

                      <br>
                        تاریخ : 25 مهر 1394
                        <br><a>
                        تور کیش - شرکت مسافربری سما</a>
                        </div>
                    </div>
                </td>
            </tr>
               <tr>
                <td>
                    <div>
                <span>
                    <img class="gardeshgar_img" src="{% static 'manager_dashboard/image/girl.jpg' %}">
                </span>
                <span class="gardeshgar_name_box">
                    <a>سمانه ابراهیمی</a>: </span>

                        <div class="col-md-12 gardeshgar_comment_box">
                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید


                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید

                      <br>
                        تاریخ : 25 مهر 1394
                        <br><a>
                        تور کیش - شرکت مسافربری سما</a>
                        </div>
                    </div>
                </td>
            </tr>
               <tr>
                <td>
                    <div>
                <span>
                    <img class="gardeshgar_img" src="{% static 'manager_dashboard/image/girl.jpg' %}">
                </span>
                <span class="gardeshgar_name_box">
                    <a>سمانه ابراهیمی</a>: </span>

                        <div class="col-md-12 gardeshgar_comment_box">
                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید

                      <br>
                        تاریخ : 25 مهر 1394
                        <br><a>
                        تور کیش - شرکت مسافربری سما</a>
                        </div>
                    </div>
                </td>
            </tr>
   </table>

</div>

<div class="col-md-6">
<table>
                <tr>
                <td><strong>
                    نظرات برخط کاربران
                </strong></td>
            </tr>
            <tr>
                <td>
                    <div>
                <span>
                    <img class="gardeshgar_img" src="{% static 'manager_dashboard/image/girl.jpg' %}">
                </span>
                <span class="gardeshgar_name_box">
                    <a>سمانه ابراهیمی</a>: </span>

                        <div class="col-md-12 gardeshgar_comment_box">
                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید


                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید

                      <br>
                        تاریخ : 25 مهر 1394
                        <br><a>
                        تور کیش - شرکت مسافربری سما</a>
                        </div>
                    </div>
                </td>
            </tr>
                <tr>
                <td>
                    <div>
                <span>
                    <img class="gardeshgar_img" src="{% static 'manager_dashboard/image/girl.jpg' %}">
                </span>
                <span class="gardeshgar_name_box">
                    <a>سمانه ابراهیمی</a>: </span>

                        <div class="col-md-12 gardeshgar_comment_box">
                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید

                      <br>
                        تاریخ : 25 مهر 1394
                        <br><a>
                        تور کیش - شرکت مسافربری سما</a>
                        </div>
                    </div>
                </td>
            </tr>
                <tr>
                <td>
                    <div>
                <span>
                    <img class="gardeshgar_img" src="{% static 'manager_dashboard/image/girl.jpg' %}">
                </span>
                <span class="gardeshgar_name_box">
                    <a>سمانه ابراهیمی</a>: </span>

                        <div class="col-md-12 gardeshgar_comment_box">
                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید


                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید

                      <br>
                        تاریخ : 25 مهر 1394
                        <br><a>
                        تور کیش - شرکت مسافربری سما</a>
                        </div>
                    </div>
                </td>
            </tr>
                <tr>
                <td>
                    <div>
                <span>
                    <img class="gardeshgar_img" src="{% static 'manager_dashboard/image/girl.jpg' %}">
                </span>
                <span class="gardeshgar_name_box">
                    <a>سمانه ابراهیمی</a>: </span>

                        <div class="col-md-12 gardeshgar_comment_box">
                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید

                      <br>
                        تاریخ : 25 مهر 1394
                        <br><a>
                        تور کیش - شرکت مسافربری سما</a>
                        </div>
                    </div>
                </td>
            </tr>
                <tr>
                <td>
                    <div>
                <span>
                    <img class="gardeshgar_img" src="{% static 'manager_dashboard/image/girl.jpg' %}">
                </span>
                <span class="gardeshgar_name_box">
                    <a>سمانه ابراهیمی</a>: </span>

                        <div class="col-md-12 gardeshgar_comment_box">
                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید

                      <br>
                        تاریخ : 25 مهر 1394
                        <br><a>
                        تور کیش - شرکت مسافربری سما</a>
                        </div>
                    </div>
                </td>
            </tr>
                <tr>
                <td>
                    <div>
                <span>
                    <img class="gardeshgar_img" src="{% static 'manager_dashboard/image/girl.jpg' %}">
                </span>
                <span class="gardeshgar_name_box">
                    <a>سمانه ابراهیمی</a>: </span>

                        <div class="col-md-12 gardeshgar_comment_box">
                            تور ما خیلی خوب نیست ، مسئولمون همش میره این ور و اون ور ، لطفا رسیدگی کنید

                      <br>
                        تاریخ : 25 مهر 1394
                        <br><a>
                        تور کیش - شرکت مسافربری سما</a>
                        </div>
                    </div>
                </td>
            </tr>
</table>

</div>

    </div>

{% endblock content_dashboard %}