{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

<h1>
مشاهده اطلاعات گردش ساز
    </h1>


    <br>
<form method="post" action="/userpage/gardeshgar">
{% csrf_token %}

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
                        dalahoo@gmail.com
                    </div>
                    <label  class="col-md-2 ">
ایمیل شرکت
                    </label>

            </div>
    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
                        دالاهو
                    </div>
                    <label  class="col-md-2 ">
نام شرکت (مرکز ارائه)
                    </label>

            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
                        123456789
                    </div>
                    <label  class="col-md-2 ">
شماره ثبت
                        </label>

            </div>


    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
                        تهران
                    </div>
                    <label  class="col-md-2 ">
شهر
                    </label>


            </div>


    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>


                <div class="col-md-4">

                تور
                </div>
        <label  class="col-md-2 ">
نوع گردش ارائه شده در سازمان
                    </label>
        </div>


<div class="col-md-10 ">
                <div class="col-md-6"></div>
    <a class="btn btn-success" href="/edit/tourbuilder/gardeshsaz" name ="send">
تغییر اطلاعات    </a>
    <a class="btn btn-danger" href="/userpage/gardeshsaz" name ="cancel">
    انصراف
    </a>

</div>

</form>

{% endblock %}